@page
@model Capstone_LFI.Pages.ForgotPasswordModel

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/Design.css">

<style>
    body {
        background-image: url('/images/LFI Background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    input {
        width: 275px;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
</style>

<div class="container">
    <div style="border:1px solid black;">
        <div>
            <h2 style="text-align: center;">Forgot password</h2>
        </div>
        <div style="padding-top:0px; padding-left:20px;">
            <button style="font-weight:bold; font-size:13px;" onclick="window.location.href='/Login'">Back</button>
        </div>
        <form method="post" style="padding:30px; padding-bottom:20px;padding-top:15px;">
            <div>
                <div style="padding-bottom:5px;">
                    <div style="padding-bottom:5px;">
                        <label style="font-weight:bold; font-size:13px;">Specify the username for the update.</label>
                    </div>
                    <div style="padding-left:10px;">
                        <input type="text" id="username" name="Username" asp-for="Username" value="Username"
                         onclick="this.value=''"
                         onmouseout="if (!this.value.trim()) this.value='Username'">
                    </div>
                </div>
                <div style="padding-bottom:5px;">
                    <div style="padding-bottom:5px;">
                        <label style="font-weight:bold; font-size:13px;">Permission from authorized personnel required.</label>
                    </div>
                    <div style="padding-left:10px;">
                        <input type="text" id="authusername" name="AuthUsername" asp-for="AuthUsername" value="Username"
                         onclick="this.value=''"
                         onmouseout="if (!this.value.trim()) this.value='Username'">
                    </div>
                    <div style="padding-left:10px;">
                        <input type="text" id="authpassword" name="AuthPassword" asp-for="AuthPassword" value="Password"
                         onclick="this.value=''; this.type='password';"
                         onmouseout="if (!this.value.trim()) { this.value='Password'; this.type='text'; }">
                    </div>
                </div>
                <div style="padding-bottom:5px;">
                    <div style="padding-bottom:5px;">
                        <label style="font-weight:bold; font-size:13px;">Enter new password.</label>
                    </div>
                    <div style="padding-left:10px;">
                        <input type="text" id="password" name="NewPassword" asp-for="NewPassword" value="New Password"
                               onclick="this.value=''; this.type='password';"
                               onmouseout="if (!this.value.trim()) { this.value='New Password'; this.type='text'; }">
                    </div>
                    <div style="padding-left:10px;">
                        <input type="text" id="password1" name="NewPassword1" asp-for="NewPassword1" value="Confirm Password"
                               onclick="this.value=''; this.type='password';"
                               onmouseout="if (!this.value.trim()) { this.value='Confirm Password'; this.type='text'; }">
                    </div>
                </div>
            </div>
            <button style="width: 300px; height:30px;" type="submit">Submit</button>

            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="message" style="text-align: center; margin-top: 10px; color:#ff0000;">
                    @Model.Message
                </div>
            }
        </form>
    </div>
</div>
